.konfigurator{
    margin-top: 100px;
}

.next{
    margin-bottom: 30px;
}

.auswahlfenster{
    margin: 15px -20px 17px 1px;
}

.auswahlfenster2{
    margin: 0px -20px 17px 1px;
}

.material{
    margin: 20px;
}

.auswahl{
    margin: 20px 30px 10px 10px;
}

.color{
    margin: 15px 0px;
}

.contact{
    margin-top: 100px;
}

.uhrenvorlage{
    margin-top: 70px;
    background: #7BAABE;
}
hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
} 

.portfolio-item{
    padding:40px 20px;
}

#slider{
    padding-top: 20px;
}

.btn-info{
    background: #7BAABE;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
}

.btn-info-active{
    color: white;
    background: #4BBFC3;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
}

.input-email-address {
    width: 370px;
    height: 50px;
    border: 1px solid #2f4b53;
    margin-bottom: 10px;
    border-radius: 0px;
}

.input-message {
    width: 370px;
    height: 130px;
    padding-top: 20px;
    border: 1px solid #2f4b53;
    border-radius: 0px;
}

.send-button {
    margin-top: 10px;
    background-color: transparent;
    border: 4px solid #2f4b53;
    width: 370px;
    height: 60px;
    border-radius: 0px;
}

.send-button:hover {
    border: 4px solid #00aeef;
    background-color: #ffffff;
    color: #00aeef;
}

.contact-us {
    text-align: center;
}

.title-section {
    font-weight: 800;
    font-size: 26px;
    color: #252525;
    text-transform: uppercase;
    margin-bottom: 25px;
}

