#navigation {
    .container-fluid {
        height: 70px;
        padding-top: 13px;

        .navbar-header {
            margin-left: 15px;
            margin-top: -7px;
        }

        .collapse {
            padding-left: 75px;
            padding-right: 75px;
        }
    }
}