<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!--
            Fonts
        -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700' rel='stylesheet' type='text/css'>

        <!--
            Vendor stylesheets
        -->
        <!-- build:css styles/vendor.min.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="../bower_components/normalize.css/normalize.css" />
        <link rel="stylesheet" href="../bower_components/ng-table/ng-table.css" />
        <link rel="stylesheet" href="../bower_components/sweetalert/lib/sweet-alert.css" />
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../bower_components/pagepiling.js/jquery.pagepiling.css" />
        <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!--
            Custom stylesheets
        -->
        <!-- build:css({.tmp,app}) styles/main.min.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/main2.css">
        <!-- endbuild -->

        <script src="../bower_components/modernizr/modernizr.js"></script>
    </head>
    <body ng-app="app" ng-controller="MainCtrl as main">

        <!--
            Navigation
        -->
        <nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">

                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-tree fa-2x"></i>
                    </a>
                </div>

                <!-- Nav bar -->
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ 'enabled': main.enabled == 1, 'complete': main.complete.gehaeuse }">
                            <a href="#/planer#1">Gehäuse</a>
                        </li>
                        <li ng-class="{ 'enabled': main.enabled == 2, 'complete': main.complete.material }">
                            <a href="#/planer#2">Material</a>
                        </li>
                        <li ng-class="{ 'enabled': main.enabled == 3, 'complete': main.complete.ausstattung }">
                            <a href="#/planer#3">Ausstattung</a>
                        </li>
                        <li ng-class="{ 'enabled': main.enabled == 4, 'complete': main.complete.farben }">
                            <a href="#/planer#4">Farben</a>
                        </li>
                        <li ng-class="{ 'enabled': main.enabled == 5, 'complete': main.complete.extras }">
                            <a href="#/planer#5">Extras</a>
                        </li>
                        <li ng-class="{ 'enabled': main.enabled == 6, 'complete': main.complete.checkout, 'in': main.checkout }">
                            <a href="#/checkout">Bezahlen</a>
                        </li>
                    </ul>

                    <!-- Nav right -->
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>Eingeloggt als {{ main.login.name }}</li>-->
                        <li ng-click="main.showModal = !main.showModal"><a href="">Einloggen</a></li>
                        <li ng-click="main.toggleBag()">
                            <a href=""><i class="glyphicon glyphicon-shopping-cart"></i></a>
                        </li>
                    </ul><!-- / Nav right -->
                </nav><!-- / Nav bar -->

            </div>
        </nav>

        <!--
            Custom loader directive
        -->
        <!--<ags-loaders></ags-loaders>-->
        <div class="ags-loader" ng-class="{ 'loading': main.isLoading }" ng-show="main.isLoading" ng-cloak>
            <img ng-src="images/preloaders/Preloader_2/Preloader_2.gif">
        </div>

        <!--
            The ui-view directive tells $state where to place the templates
        -->
        <div ui-view class="main-container" ng-class="{ 'slide-left': main.bagOpen }" ng-cloak></div>

        <!--
            Shopping Bag
        -->
        <div id="shopping-bag" ng-cloak>
            <div class="shopping-content">
                <div class="shopping-header">Dein Einkaufswaagen</div>
                <div class="shopping-empty" ng-class="{ 'feedback': main.showFeedback }" ng-show="!main.bagItems">
                    <i class="fa fa-heart fa-3x"></i>
                    <div class="empty">Dein Waagen ist <span>leer</span>.</div>
                    <div class="empty-subline">Zeige uns deine kreativste Kuckucksuhr!</div>
                </div>
                <div class="shopping-item-list">
                    <div class="shopping-item" ng-hide="!main.bagItems">
                        <div class="item-left">
                            <img src="images/watches/classic/gruen.png">
                            <div class="item-desc">
                                <h6>Klassik Variation</h6>
                                <div class="desc">Gehäuse: Rund</div>
                                <div class="desc">Material: Mahagoni</div>
                                <div class="desc">Extras: Keine</div>
                                <div class="desc">Anzahl: 1</div>
                            </div>
                        </div>
                        <div class="item-right">
                            <div class="item-controls">
                                <i class="fa fa-times-circle"></i><br>
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="item-price">280 €</div>
                        </div>
                    </div>
                </div>
                <div class="shopping-footer">
                    <div class="shopping-price-label">Total:</div>
                    <div class="shopping-price">{{ main.priceTotal }} €</div>
                    <button type="button" class="button" ng-click="main.checkoutBag()">Checkout</button>
                </div>
            </div>
        </div>

        <!--
            Modal
        -->
        <script type="text/ng-template" id="/tpl.html">

        </script>
        <div class="custom-modal" ng-hide="!main.showModal">

            <div class="custom-modal-overlay" ng-click="main.showModal = !main.showModal"></div>
            <div class="custom-modal-box">
                <div class="custom-modal-header">
                    <div class="custom-modal-header-item" ng-class="{ 'active': main.showLogin }">Login</div>
                    <div class="custom-modal-header-item" ng-class="{ 'active': !main.showLogin }">Registrierung</div>
                </div>
                <div class="custom-modal-body">
                    <div>
                    <i class="fa fa-tree fa-4x"></i>

                    <div class="input-group">
                        <label>Benutzername</label>
                        <input type="text" class="form-control" ng-model="main.login.name">
                    </div>
                    <div class="input-group">
                        <label>Passwort</label>
                        <input type="text" class="form-control" ng-model="main.login.pass">
                    </div>
                    <button class="button button-blue" ng-click="main.submitLogin()">Einloggen</button>
                    </div>
                </div>
                <!--<div class="custom-modal-warning">
                    Warn
                </div>-->
            </div>

        </div>

        <!--
            Vendor scripts
        -->
        <!-- build:js scripts/vendor.min.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/traceur/traceur.js"></script>
        <script src="../bower_components/es6-module-loader/dist/es6-module-loader-sans-promises.js"></script>
        <script src="../bower_components/system.js/dist/system.js"></script>
        <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/ng-table/ng-table.js"></script>
        <script src="../bower_components/sweetalert/lib/sweet-alert.js"></script>
        <script src="../bower_components/angular-sweetalert/SweetAlert.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/pagepiling.js/jquery.pagepiling.min.js"></script>
        <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="../bower_components/walkway.js/src/walkway.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!--
            Custom angular scripts
        -->
        <!-- build:js scripts/main.min.js -->
        <!-- inject:js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/filters/agsBytes.filter.js"></script>
        <script src="scripts/directives/loader/loader.directive.js"></script>
        <script src="scripts/directives/progress/progress.directive.js"></script>
        <script src="scripts/routes/checkout/checkout.controller.js"></script>
        <script src="scripts/routes/landing/landing.controller.js"></script>
        <script src="scripts/routes/main/main.controller.js"></script>
        <script src="scripts/routes/planner/planner.controller.js"></script>
        <script src="scripts/services/auth/auth.service.js"></script>
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>
