* {
  box-sizing: border-box;
}

/**
 * Partial imports
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Global settings
 */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.main-container {
  position: relative;
  top: 70px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

footer {
  position: absolute;
  top: 300%;
  margin-top: 50px;
  background-color: white;
}

[ng-cloak] {
  display: none !important;
}

/**
 * Input buttons
 *
.input-text {
    height: em(38);
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: 0 0;
    border-bottom: 2px solid $glf-white;
    color: $glf-white;
    outline: none;
    font-size: em(20);
    font-weight: normal;
}

.input-group {
    margin-bottom: 10px;
}

label {
    height: em(50);
    line-height: em(50);
}*/
.button {
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  text-decoration: none;
  color: #f2f2f2;
  outline: 0 !important;
  box-shadow: 0;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-blue {
  background-color: #7baabe;
  color: #f2f2f2;
}

.button-orange {
  background-color: #ffa600;
  color: #f2f2f2;
}

/**
 * Centering
 *
.center-parent {
    display: table;
}

.center-child {
    display: table-cell;
    vertical-align: middle;
}

/**
 * Warning/Info
 *
.toast {
    @include position(fixed, null null 30px null);
    @include size(100% 45px);

    color: $glf-white;
    text-align: center;

    .error-msg {
        background-color: $glf-red;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 15px 25px 15px 25px;

        span {
            font-weight: bold;
        }
    }
}

/**
 * Section boxes
 */
.section-box {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;
}
.section-box .section-box-head {
  height: 2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #e6e6e6;
}

.price {
  font-weight: bold;
  color: #ffa600 !important;
}

/**
 * Form control
 */
.form-group input, .form-group select {
  height: 36px;
  margin-bottom: 10px;
  padding-left: 7px;
  border: 2px solid #e6e6e6;
  border-radius: 0;
  outline: 0;
  -webkit-transition: border 0.7s ease-in-out;
  transition: border 0.7s ease-in-out;
}
.form-group textarea {
  margin-bottom: 10px;
  padding-left: 7px;
  border: 2px solid #e6e6e6;
  border-radius: 0;
  outline: 0;
  -webkit-transition: border 0.7s ease-in-out;
  transition: border 0.7s ease-in-out;
}
.form-group .ng-pristine.ng-invalid {
  border: 2px solid #ffa600;
}

/**
 * Modals
 */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 1031;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.custom-modal.ng-hide {
  opacity: 0;
  -webkit-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0);
}
.custom-modal .custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  opacity: 0.7;
  height: 200%;
  width: 100%;
  z-index: 1031;
}
.custom-modal .custom-modal-box {
  position: absolute;
  top: 10%;
  width: 400px;
  height: 500px;
  display: inline-block;
  margin-left: -200px;
  background-color: #f2f2f2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1032;
}
.custom-modal .custom-modal-box .custom-modal-header {
  width: 100%;
  height: 50px;
  border-bottom: 4px solid #7baabe;
}
.custom-modal .custom-modal-box .custom-modal-header .custom-modal-header-item {
  float: left;
  display: block;
  width: 51.178825799%;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.custom-modal .custom-modal-box .custom-modal-header .custom-modal-header-item:last-child {
  width: 48.821174201%;
}
.custom-modal .custom-modal-box .custom-modal-header .custom-modal-header-item.active {
  background-color: #7baabe;
  color: #f2f2f2;
}
.custom-modal .custom-modal-box .custom-modal-header .custom-modal-header-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-modal .custom-modal-box .custom-modal-body {
  padding: 10px;
  text-align: center;
  width: 100%;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
.custom-modal .custom-modal-box .custom-modal-body:last-child {
  margin-right: 0;
}
.custom-modal .custom-modal-box .custom-modal-body i {
  position: relative;
  padding-top: 60px;
  padding-bottom: 45px;
}
.custom-modal .custom-modal-box .custom-modal-body .input-group {
  position: relative;
  width: 100%;
  padding: 15px;
  text-align: left;
}
.custom-modal .custom-modal-box .custom-modal-body .input-group label {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
.custom-modal .custom-modal-box .custom-modal-body .input-group label:last-child {
  margin-right: 0;
}
.custom-modal .custom-modal-box .custom-modal-body .input-group input {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  border-radius: 0;
}
.custom-modal .custom-modal-box .custom-modal-body .input-group input:last-child {
  margin-right: 0;
}
.custom-modal .custom-modal-box .custom-modal-warning {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
.custom-modal .custom-modal-box .custom-modal-warning:last-child {
  margin-right: 0;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}

/**
 * Shopping bag slide
 */
.main-container {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.main-container.slide-left {
  -webkit-transform: translate3d(-299px, 0, 0);
  transform: translate3d(-299px, 0, 0);
}

.ags-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 200;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.ags-loader img {
  position: absolute;
  top: 44%;
  left: 46%;
}

.ags-loader.loading {
  opacity: 1;
}

/**
 * View imports
 */
#navigation .container-fluid {
  height: 70px;
}
#navigation .container-fluid .navbar-header {
  height: 71px;
}
#navigation .container-fluid .navbar-header i {
  margin-top: -15px;
  padding: 18px 35px 18px 35px;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#navigation .container-fluid .navbar-header i:hover {
  background-color: #4bbfc3;
  color: #f2f2f2;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#navigation .container-fluid .collapse {
  padding-left: 75px;
  padding-right: 75px;
  height: 70px !important;
}
#navigation .container-fluid .collapse ul {
  height: 100%;
}
#navigation .container-fluid .collapse ul li {
  height: 72px;
  border-bottom: 0;
  z-index: 2;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}
#navigation .container-fluid .collapse ul li a {
  line-height: 45px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#navigation .container-fluid .collapse ul li:hover, #navigation .container-fluid .collapse ul li.enabled {
  border-bottom: 5px solid #4bbfc3;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}
#navigation .container-fluid .collapse ul li.complete {
  background-color: #4bbfc3;
}
#navigation .container-fluid .collapse ul li.complete a {
  color: #f2f2f2;
}
#navigation .container-fluid .collapse ul li:last-child {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, -70px, 0);
  transform: translate3d(0, -70px, 0);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#navigation .container-fluid .collapse ul li:last-child.in {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
  padding-left: 100px;
  padding-right: 100px;
  color: #333333;
}
#footer .footer-logo {
  position: relative;
  top: 40px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 30px;
}
#footer .footer-logo i {
  margin-bottom: 15px;
}
#footer .footer-logo span {
  font-weight: bold;
}
#footer .footer-content {
  position: relative;
  top: 60px;
}
#footer .footer-content .footer-social {
  float: left;
  text-align: left;
  width: 35%;
}
#footer .footer-content .footer-links {
  float: right;
  text-align: right;
  width: 63%;
}
#footer .footer-content .footer-links ul {
  list-style: none;
}
#footer .footer-content .footer-links ul li {
  padding: 0 10px 0 10px;
  display: inline-block;
}

#landing {
  height: 100%;
  width: 100%;
}
#landing .section {
  margin-top: -60px;
  text-align: center;
}
#landing #video-section {
  overflow: hidden;
}
#landing #video-section h1 {
  position: absolute;
  width: 100%;
  top: 14%;
  color: #333333;
  z-index: 2;
  /*&:after {
      content: '';
      display: block;
      margin: 1.75rem auto;
      width: em(30);
      height: 0px;
      border-bottom: solid 1px $kuck-black;
      text-align: center;
  }*/
}
#landing #video-section h1 span {
  font-weight: bolder;
  color: #4bbfc3;
}
#landing #video-section .video-indicators {
  position: relative;
  height: 100%;
  width: 100%;
  color: #333333;
  z-index: 2;
}
#landing #video-section .video-indicators .indicator-item {
  position: absolute;
  width: 15%;
}
#landing #video-section .video-indicators .indicator-item .indicator-text {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
}
#landing #video-section .video-indicators .indicator-item .indicator-text:last-child {
  margin-right: 0;
}
#landing #video-section .video-indicators .indicator-item .indicator-text .indicator-number {
  font-size: 3.75em;
}
#landing #video-section .video-indicators .indicator-item .indicator-text .indicator-subline {
  margin-top: -10px;
  line-height: 1.25em;
}
#landing #video-section .video-indicators .indicator-item .indicator-text .indicator-pointer {
  position: relative;
  top: -40px;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  border-top: 3px solid #7baabe;
}
#landing #video-section .video-indicators .indicator-item .indicator-text .indicator-pointer:last-child {
  margin-right: 0;
}
#landing #video-section .video-indicators .indicator-item.cuckoo {
  top: 33%;
  left: 27%;
}
#landing #video-section .video-indicators .indicator-item.pointer {
  top: 53%;
  right: 20%;
}
#landing #video-section .video-indicators .indicator-item.pointer .indicator-pointer {
  width: 250px;
  left: -210px;
}
#landing #video-section .video-indicators .indicator-item.ind-shape {
  top: 30%;
  right: 23%;
}
#landing #video-section .video-indicators .indicator-item.ind-shape .indicator-pointer {
  width: 100px;
  right: 50px;
}
#landing #video-section .video-indicators .indicator-left .indicator-pointer {
  left: 150px;
}
#landing #video-section .video-indicators .indicator-right .indicator-pointer {
  right: 90px;
}
#landing #video-section .video-indicators .shape {
  width: 100%;
  height: 100%;
}
#landing #video-section .video-indicators .shape rect {
  width: 440;
}
#landing #video-section video {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 1;
}
#landing #product-section h1 {
  margin-top: 120px;
  margin-bottom: 100px;
  color: #f2f2f2;
}
#landing #product-section .product-slider {
  position: relative;
  min-height: 600px;
  width: 60%;
  left: 21%;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
#landing #product-section .product-slider ul {
  position: relative;
  width: 80%;
  text-decoration: none;
  list-style: none;
}
#landing #product-section .product-slider ul .product-image {
  position: absolute;
  float: left;
  width: 280px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}
#landing #product-section .product-slider ul .product-image img {
  margin-top: 20px;
  height: auto;
  width: 90%;
  z-index: 1;
}
#landing #product-section .product-slider ul .product-image .product-config {
  margin-top: -180px;
  text-align: left;
  z-index: 2;
  overflow: hidden;
}
#landing #product-section .product-slider ul .product-image .product-config p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: #f2f2f2;
  color: #2f3238;
  text-transform: none;
  opacity: 0;
  cursor: default;
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
  transition: transform 0.5s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
}
#landing #product-section .product-slider ul .product-image .product-config .config {
  cursor: pointer;
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s;
  transition: transform 0.5s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s;
}
#landing #product-section .product-slider ul .product-image .product-config .config a {
  color: #333333;
  text-decoration: none;
}
#landing #product-section .product-slider ul .product-image .product-config .config:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#landing #product-section .product-slider ul .product-image:hover .product-config p {
  opacity: 1;
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
#landing #product-section .product-slider.init-animate {
  opacity: 0;
}
#landing #product-section .product-slider-control input {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 20%;
  margin-left: 40%;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  height: 1px;
}
#landing #product-section .product-slider-control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffa600;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  margin-top: -2px;
}
#landing #product-section .product-slider-control input[type=range]:focus {
  outline: none;
}
#landing #product-section .product-slider-current {
  color: #f2f2f2;
}
#landing #configurator-section {
  color: #f2f2f2;
}
#landing #configurator-section h1 {
  margin-top: 120px;
}
#landing #configurator-section p {
  padding-top: 20px;
  padding-bottom: 20px;
}
#landing #configurator-section .configuration-teaser {
  margin-top: 100px;
  margin-bottom: 100px;
}
#landing #configurator-section .configuration-teaser .teaser-item {
  display: inline-block;
  width: 150px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 1.2s ease-in-out, opacity 0.7s ease-in-out;
  transition: transform 1.2s ease-in-out, opacity 0.7s ease-in-out;
}
#landing #configurator-section .configuration-teaser .teaser-item .teaser-box {
  height: 80px;
  width: 80px;
  margin-left: 35px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#landing #configurator-section .configuration-teaser .teaser-item .teaser-box i {
  font-size: 40px;
}
#landing #configurator-section .configuration-teaser .teaser-item .teaser-desc {
  margin-top: 10px;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
}
#landing #configurator-section .configuration-teaser.init-animate .teaser-item:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate3d(310px, 0, 0);
  transform: translate3d(310px, 0, 0);
}
#landing #configurator-section .configuration-teaser.init-animate .teaser-item:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate3d(160px, 0, 0);
  transform: translate3d(160px, 0, 0);
}
#landing #configurator-section .configuration-teaser.init-animate .teaser-item:nth-child(3) {
  opacity: 0;
}
#landing #configurator-section .configuration-teaser.init-animate .teaser-item:nth-child(4) {
  opacity: 0;
  -webkit-transform: translate3d(-160px, 0, 0);
  transform: translate3d(-160px, 0, 0);
}
#landing #configurator-section .configuration-teaser.init-animate .teaser-item:nth-child(5) {
  opacity: 0;
  -webkit-transform: translate3d(-310px, 0, 0);
  transform: translate3d(-310px, 0, 0);
}
#landing #configurator-section .configuration-start {
  margin-bottom: 250px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.7s ease-in-out 1.2s, opacity 0.7s ease-in-out 1.2s;
  transition: transform 0.7s ease-in-out 1.2s, opacity 0.7s ease-in-out 1.2s;
}
#landing #configurator-section .configuration-start button {
  background-color: #7baabe;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-size: 2.375em;
}
#landing #configurator-section .configuration-start.init-animate {
  opacity: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

#shopping-bag {
  position: fixed;
  top: 70px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 300px;
  z-index: 1;
  background-color: #434343;
}
#shopping-bag .shopping-content {
  color: #f2f2f2;
  padding: 25px;
  height: 100%;
}
#shopping-bag .shopping-content .shopping-header {
  margin-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
#shopping-bag .shopping-content .shopping-empty {
  position: absolute;
  top: 39%;
  text-align: center;
  font-size: 1.25em;
}
#shopping-bag .shopping-content .shopping-empty .fa-heart:before {
  -webkit-animation: heart 2s ease-in-out 1s infinite;
          animation: heart 2s ease-in-out 1s infinite;
}
#shopping-bag .shopping-content .shopping-empty .empty {
  margin-top: 20px;
}
#shopping-bag .shopping-content .shopping-empty .empty span {
  font-weight: bold;
}
#shopping-bag .shopping-content .shopping-empty .empty-subline {
  margin-top: 5px;
  font-size: 14px;
}
#shopping-bag .shopping-content .shopping-empty.feedback .fa-heart {
  color: #ffa600;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#shopping-bag .shopping-content .shopping-empty.feedback .empty span {
  color: #ffa600;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#shopping-bag .shopping-content .shopping-item-list {
  height: 76%;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item {
  margin-top: 10px;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-left {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-left:last-child {
  margin-right: 0;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-left img {
  float: left;
  width: 30%;
  height: auto;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-left .item-desc {
  float: right;
  width: 69%;
  padding-left: 30px;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-left .item-desc h6 {
  font-weight: bold;
  padding-bottom: 10px;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-left .item-desc .desc {
  font-size: 0.8125em;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-right {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  text-align: right;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-right:last-child {
  margin-right: 0;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-right .item-controls {
  margin-top: 5px;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-right .item-controls i {
  cursor: pointer;
  padding: 5px;
}
#shopping-bag .shopping-content .shopping-item-list .shopping-item .item-right .item-price {
  margin-top: 70px;
  font-size: 0.875em;
}
#shopping-bag .shopping-content .shopping-footer {
  position: absolute;
  width: 250px;
  bottom: 90px;
  border-top: 1px solid #f2f2f2;
}
#shopping-bag .shopping-content .shopping-footer .shopping-price-label {
  float: left;
  width: 50%;
  text-align: left;
  margin-top: 10px;
}
#shopping-bag .shopping-content .shopping-footer .shopping-price {
  float: right;
  width: 50%;
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}
#shopping-bag .shopping-content .shopping-footer .button {
  margin-top: 15px;
  color: #f2f2f2;
  width: 100%;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#checkout {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #7baabe;
}
#checkout .section {
  width: 80%;
  margin-left: 10%;
}
#checkout .button-section-up {
  position: absolute;
  text-align: center;
  width: 87%;
  top: 32px;
}
#checkout .button-section-up-last {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 32px;
}
#checkout .button-section-down {
  position: absolute;
  text-align: center;
  width: 87%;
  bottom: 100px;
}
#checkout .checkout-address {
  color: #f2f2f2;
  padding: 40px 90px 40px 90px;
}
#checkout .checkout-address h4 {
  font-weight: bold;
  margin-bottom: 35px;
}
#checkout .checkout-address label {
  font-weight: normal;
}
#checkout .checkout-address label span {
  color: #ffa600;
  font-weight: bold;
}
#checkout .checkout-address .billing-address {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
#checkout .checkout-address .billing-address:last-child {
  margin-right: 0;
}
#checkout .checkout-address .shipping-address {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
#checkout .checkout-address .shipping-address:last-child {
  margin-right: 0;
}
#checkout .order-overview {
  position: relative;
  height: auto;
  color: #f2f2f2;
  padding: 40px 100px 40px 100px;
}
#checkout .order-overview h4 {
  font-weight: bold;
  margin-bottom: 35px;
  margin-left: -16px;
}
#checkout .order-overview table .total, #checkout .order-overview table .total-total, #checkout .order-overview table .total-amount {
  font-weight: bold;
}
#checkout .order-overview table .total-total {
  font-size: 1.75em;
}
#checkout .checkout-payment {
  color: #333333;
  padding: 40px 100px 40px 100px;
}
#checkout .checkout-payment .checkout-box {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#checkout .checkout-payment .checkout-box .checkbox-item {
  line-height: 3.25em;
  width: 33.1%;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #ddd;
}
#checkout .checkout-payment .checkout-box .checkbox-item:last-child {
  border-right: 0;
}
#checkout .checkout-payment .checkout-box .checkbox-item input {
  margin-left: 10px;
  margin-right: 10px;
}
#checkout .checkout-payment .checkout-box .checkbox-item .fa {
  position: relative;
  top: 8px;
  margin-left: 10px;
  color: #333333;
  -webkit-transition: color 0.7s ease-in-out;
  transition: color 0.7s ease-in-out;
}
#checkout .checkout-payment .checkout-box .checkbox-item.active .fa {
  color: #ffa600;
}
#checkout .checkout-payment .checkout-box .checkbox-item.checkbox-group input, #checkout .checkout-payment .checkout-box .checkbox-item.checkbox-group button {
  display: inline-block;
}
#checkout .checkout-payment .checkout-box .checkbox-item.checkbox-group .form-control {
  width: 60%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 7px;
  border: 2px solid #e2e2e2;
  border-radius: 2px;
}
#checkout .checkout-payment .checkout-box .checkbox-item.checkbox-group button {
  position: relative;
  padding: 0px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  text-decoration: none;
  color: #f2f2f2;
  outline: 0 !important;
  box-shadow: 0;
}
#checkout .checkout-payment .checkout-box button {
  margin-left: 40px;
  background-color: #ffa600;
}
#checkout .checkout-payment .checkout-final {
  text-align: right;
}
#checkout .checkout-payment .checkout-final span {
  margin-right: 20px;
}

.konfigurator {
  margin-top: 100px;
}

.next {
  margin-bottom: 30px;
}

.auswahlfenster {
  margin: 15px -20px 17px 1px;
}

.auswahlfenster2 {
  margin: 0px -20px 17px 1px;
}

.material {
  margin: 20px;
}

.auswahl {
  margin: 20px 30px 10px 10px;
}

.color {
  margin: 15px 0px;
}

.contact {
  margin-top: 100px;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
}

#slider {
  padding-top: 20px;
}

.btn-info {
  background: #7BAABE;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
}

.btn-info-active {
  color: white;
  background: #4BBFC3;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
}

.input-email-address {
  width: 370px;
  height: 50px;
  border: 1px solid #2f4b53;
  margin-bottom: 10px;
  border-radius: 0px;
}

.input-message {
  width: 370px;
  height: 130px;
  padding-top: 20px;
  border: 1px solid #2f4b53;
  border-radius: 0px;
}

.send-button {
  margin-top: 10px;
  background-color: transparent;
  border: 4px solid #2f4b53;
  width: 370px;
  height: 60px;
  border-radius: 0px;
}

.send-button:hover {
  border: 4px solid #00aeef;
  background-color: #ffffff;
  color: #00aeef;
}

.contact-us {
  text-align: center;
}

.title-section {
  font-weight: 800;
  font-size: 26px;
  color: #252525;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#planner .container {
  margin-top: -200px;
  height: 600px;
}
#planner .container .button-orange {
  float: right;
}
#planner .container .button-blue {
  float: left;
}
#planner .uhrenvorlage {
  position: absolute;
  width: 100.8%;
  height: 170px;
  bottom: 70px;
  margin-top: 70px;
  background: #7BAABE;
  text-align: center;
}
#planner .uhrenvorlage h4 {
  color: #f2f2f2;
}
#planner .uhrenvorlage .portfolio-item {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}
#planner .uhrenvorlage .portfolio-item img {
  height: 110px;
  width: auto;
}
