<div id="planner" ng-cloak>

    <!-- Section 1: Gehäuse -->
    <div class="section">

        <div class="konfigurator">
           <div class="container">
               <div class="row">
                   <div class="vorschau col-md-5">
                        <img ng-src="images/watches/classic/blau.png" src="images/watches/classic/blau.png" class="center-block">
                   </div>

                   <div class="col-md-1"></div>

                   <div class="einstellungen col-md-6">

                        <div class="next">

                            <button type="button" class="button button-orange" ng-click="ctrl.nextStep('gehaeuse')">
                                Weiter zum Material <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>

                        </div>

                        <div class='clearfix'></div>

                        <div class="auswahlfenster2">
                            <img src="images/shape/f1.png" class="auswahl">
                            <img src="images/shape/f2.png" class="auswahl">
                            <img src="images/shape/f3.png" class="auswahl">
                            <img src="images/shape/f4.png" class="auswahl">
                            <img src="images/shape/f5.png" class="auswahl">
                            <img src="images/shape/f6.png" class="auswahl">
                            <img src="images/shape/f7.png" class="auswahl">
                            <img src="images/shape/f1.png" class="auswahl">
                            <img src="images/shape/f2.png" class="auswahl">
                            <img src="images/shape/f3.png" class="auswahl">
                            <img src="images/shape/f4.png" class="auswahl">
                            <img src="images/shape/f5.png" class="auswahl">
                        </div>

                        <hr>

                        <div class="color">
                          <img src="images/colors/rot.gif" class="color img-circle">
                          <img src="images/colors/blau.gif" class="color img-circle">
                          <img src="images/colors/hellblau.gif" class="color img-circle">
                          <img src="images/colors/gruen.gif" class="color img-circle">
                          <img src="images/colors/gelb.gif" class="color img-circle">
                          <img src="images/colors/orange.gif" class="color img-circle">
                          <img src="images/colors/pink.gif" class="color img-circle">
                          <img src="images/colors/schwarz.gif" class="color img-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row uhrenvorlage">
            <div class="uhren-container">

                <h4>Eine Auswahl unserer schönsten Modelle</h4>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>

            </div>
        </div>



    </div><!-- / Section 1 -->

    <!-- Section 2: Material -->
    <div class="section">
        <div class="konfigurator">
           <div class="container">
               <div class="row">
                   <div class="vorschau col-md-5">
                        <img ng-src="images/watches/classic/blau.png" src="images/watches/classic/blau.png" height="60%" class="center-block">
                   </div>

                   <div class="col-md-1"></div>

                   <div class="einstellungen col-md-6">

                        <div class="next">

                            <button type="button" class="button button-blue" ng-click="ctrl.previousStep('material')">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zurück zum Gehäuse
                            </button>

                            <button type="button" class="button button-orange" ng-click="ctrl.nextStep('material')">
                                Weiter zur Ausstattung <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>

                        </div>

                        <div class='clearfix'></div>

                        <div class="auswahlfenster2">

                            <img src="images/material/eiche.PNG" class="auswahl" title="Eiche"> </a>
                            <img src="images/material/erle.PNG" class="auswahl" title="Erle"> </a>
                            <img src="images/material/fichte.PNG" class="auswahl" title="Fichte"> </a>
                            <img src="images/material/buche.PNG" class="auswahl" title="Buche"> </a>

                            <br><br>

                            <img src="images/material/olive.PNG" class="auswahl" title="Olive"> </a>
                            <img src="images/material/nuss.PNG" class="auswahl" title="Nuss"> </a>
                            <img src="images/material/mahagoni.PNG" class="auswahl" title="Mahagoni"> </a>
                            <img src="images/material/birke.png" class="auswahl" title="Birke"> </a>

                        </div>

                        <hr>

                        <div class="colormaterial">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss.gif" class="color img-circle">
                            <img src="images/colors/holz.gif" class="color img-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row uhrenvorlage">
            <div class="uhren-container">

                                <h4>Eine Auswahl unserer schönsten Modelle</h4>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>

            </div>
        </div>

    </div><!-- / Section 2 -->

    <!-- Section 3: Ausstattung -->
    <div class="section">
	   <div class="konfigurator">
           <div class="container">
               <div class="row">
                   <div class="vorschau col-md-5">
                        <img ng-src="images/watches/classic/blau.png" src="images/watches/classic/blau.png" height="60%" class="center-block">
                   </div>

                   <div class="col-md-1"></div>

                   <div class="einstellungen col-md-6">

                        <div class="next">

                            <button type="button" class="button button-blue" ng-click="ctrl.previousStep('ausstattung')">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zurück zum Material
                            </button>

                            <button type="button" class="button button-orange" ng-click="ctrl.nextStep('ausstattung')">
                                Weiter zu den Farben <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>

                        </div>

                        <div class='clearfix'></div>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Zeiger</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info-active">Ziffernblatt</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Kuckuck</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Pendel</button>
                            </div>
                        </div>

                        <div class="auswahlfenster">
                            <img src="images/dials/z3.png" class="auswahl">
                            <img src="images/dials/z2.png" class="auswahl">
                            <img src="images/dials/z1.png" class="auswahl">
                            <img src="images/dials/z4.png" class="auswahl">
                            <img src="images/dials/z5.png" class="auswahl">
                            <img src="images/dials/z6.png" class="auswahl">
                            <img src="images/dials/z5.png" class="auswahl">
                            <img src="images/dials/z2.png" class="auswahl">

                        </div>

                        <hr>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Ziffernfarbe</button>
                            </div>

                        </div>

                        <div class="colorausstattung">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau2.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss2.gif" class="color img-circle">
                        </div>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Hintergrundfarbe</button>
                            </div>

                        </div>

                        <div class="colorausstattung">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss.gif" class="color img-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row uhrenvorlage">
            <div class="uhren-container">

                <h4>Eine Auswahl unserer schönsten Modelle</h4>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>

            </div>
        </div>

    </div><!-- / Section 3 -->

    <!-- Section 4: Farben -->
	<div class="section">
        <div class="konfigurator">
           <div class="container">
               <div class="row">
                   <div class="vorschau col-md-5">
                        <img ng-src="images/watches/classic/blau.png" src="images/watches/classic/blau.png" height="60%" class="center-block">
                   </div>

                   <div class="col-md-1"></div>

                   <div class="einstellungen col-md-6">

                        <div class="next">

                            <button type="button" class="button button-blue" ng-click="ctrl.previousStep('farben')">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zurück zur Ausstattung
                            </button>

                            <button type="button" class="button button-orange" ng-click="ctrl.nextStep('farben')">
                                Weiter zu den Extras <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>

                        </div>

                        <div class='clearfix'></div>

                      	<div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Materialfarbe</button>
                            </div>

                        </div>

                        <div class="color2">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss.gif" class="color img-circle">
                            <img src="images/colors/holz.gif" class="color img-circle">
                        </div>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Zeigerfarbe</button>
                            </div>

                        </div>

                        <div class="color2">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau2.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss2.gif" class="color img-circle">
                        </div>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Ziffernblatt</button>
                            </div>

                        </div>

                        <div class="color2">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss.gif" class="color img-circle">
                        </div>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Ziffern</button>
                            </div>

                        </div>

                        <div class="color2">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau2.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss2.gif" class="color img-circle">
                        </div>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Kuckuckfarbe</button>
                            </div>

                        </div>

                        <div class="color2">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss.gif" class="color img-circle">
                        </div>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Pendelfarbe</button>
                            </div>

                        </div>

                        <div class="color2">
                            <img src="images/colors/rot.gif" class="color img-circle">
                            <img src="images/colors/blau.gif" class="color img-circle">
                            <img src="images/colors/hellblau.gif" class="color img-circle">
                            <img src="images/colors/gruen.gif" class="color img-circle">
                            <img src="images/colors/gelb.gif" class="color img-circle">
                            <img src="images/colors/orange.gif" class="color img-circle">
                            <img src="images/colors/pink.gif" class="color img-circle">
                            <img src="images/colors/schwarz.gif" class="color img-circle">
                            <img src="images/colors/weiss.gif" class="color img-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row uhrenvorlage">
            <div class="uhren-container">

                <h4>Eine Auswahl unserer schönsten Modelle</h4>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gelb.png" src="images/watches/classic/gelb.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/rosa.png" src="images/watches/classic/rosa.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/gruen.png" src="images/watches/classic/gruen.png" class="center-block" >
                    </a>
                </div>
                <div class="portfolio-item">
                    <a href="">
                        <img ng-src="images/watches/classic/orange.png" src="images/watches/classic/orange.png" class="center-block" >
                    </a>
                </div>

            </div>
        </div>

    </div><!-- / Section 4 -->

    <!-- Section 5: Extras -->
    <div class="section">
        <div class="konfigurator">
            <div class="container">
                <div class="row">
                    <div class="vorschau col-md-5">
                        <img ng-src="images/watches/classic/blau.png" src="images/watches/classic/blau.png" height="60%" class="center-block">
                    </div>

                    <div class="col-md-1"></div>

                    <div class="einstellungen col-md-6">

                        <div class="next">

                            <button type="button" class="button button-blue" ng-click="ctrl.previousStep('extras')">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zurück zu den Farben
                            </button>

                            <button type="button" class="button button-orange" ng-click="ctrl.addToCard()">
                                In den Einkaufswaagen <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </button>

                        </div>

                        <div class='clearfix'></div>

                            <div class="auswahlfenster3">

                            <label class="checkbox auswahl">
                                <input type="checkbox" value="option1" id="inlineCheckbox1"> Bluetooth
                            </label>

                            <br>

                            <label class="checkbox auswahl">
                                <input type="checkbox" value="option2" id="inlineCheckbox2"> Eigener Ton
                            </label>

                            <label class="input-group auswahl">
                              	<input type="text" class="form-control">
	                              	<span class="input-group-btn">
	                                	<button class="btn btn-default" type="button">Datei auswählen</button>
	                              	</span>
                            </label>

                            <br>

                            <label class="checkbox auswahl">
                                <input type="checkbox" value="option1" id="inlineCheckbox1"> Besondere Wünsche und Anregungen
                            </label>

                            <textarea class="form-control auswahl" rows="3"></textarea>

                        </div>
                    </div>
                 </div>
            </div>
        </div>

    </div><!-- / Section 5 -->

</div>